/* main styling */
body{
    background: url("../image/blackjacktable.png") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
h1{
    color: rgba(172, 5, 5, 0.92);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4em;
    text-align: center;
}
h2{
    font-size: 2em;
    color: white;
}
h3{
    color: rgb(255, 251, 0);
    margin: 0px;
    font-size: 2em;
}
h4{
    color: rgb(255, 251, 0);
    font-size: 2em;
}
/* styling for classes */
.container{
    width:100%;
    display: inline-block;
}
.main{
    display: flex;
}
/* button styling */
.main-buttons{
    display: inline;
}
.button{
    width: 200%;
    height: 5vh;
    font-size: 1.5em;
    text-align: left;
    border: 2px solid black;
    background-color: black;
    color: white;
}
.button:hover{
    color: black;
    background-color: white;
}
/* buttons for assigning ace values */
.ace-buttons{
    text-align: center;
}
.buttonAce{
    width: 10%;
    height: 5vh;
    font-size: 1em;
    text-align: center;
    border: 2px solid black;
    background-color: black;
    color: white;
}
.buttonAce:hover{
    color: black;
    background-color: white;
}
/* styling for ID's */

/* cards for the dealer */
#dealer{
    margin: 0px;
    width: 85%;
    text-align: center;
}
/* cards for the player */
#cards{
    margin: 0px;
    width: 100%;
    text-align: center;
}